#logo {
  height: 2rem;
  width: auto;
}
.ctitle {
  background-color: rgb(231, 2, 109);
}
#form1 {
  display: flex;
  flex-direction: row;
}
.bg-gray {
  background-color: rgb(231, 225, 225);
}
@media (max-width: 640px) {
  #form1 {
    flex-direction: column;
  }
}
